Pods
.DS_Store
lesson_32.xcodeproj/project.xcworkspace/xcuserdata/bar47ney.xcuserdatad/UserInterfaceState.xcuserstate
lesson_32.xcodeproj/xcuserdata/bar47ney.xcuserdatad/xcschemes/xcschememanagement.plist
lesson_32.xcworkspace/xcuserdata/bar47ney.xcuserdatad/UserInterfaceState.xcuserstate
